@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
:root{
    --clr-darkMagneta:hsl(300, 43%, 22%);
    --clr-softPink:hsl(333, 80%, 67%);
    --clr-grayMagneta:hsl(303, 10%, 53%);
    --clr-lightMagneta:hsl(300, 24%, 96%);
    --clr-White: hsl(0, 0%, 100%);

    --ff-primary:"League Spartan", sans-serif;
   
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
body{
    font-family: var(--ff-primary);
    
}
.container{
    max-width: 24rem;
    margin:1rem auto;

}
.flex{
    display:flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
}
.intro{
    padding-bottom: 2rem;
    text-align: center;
}
.intro_title{
    padding-bottom: 1.8rem;
    font-size: 1.6rem;
    color: var(--clr-darkMagneta);
}
.intro_content{
    color: var(--clr-grayMagneta);
    font-weight: 400;
    font-size: 1rem;
}
.ratings{
    gap:1rem;
    padding-bottom: 1rem;
    
}

.rating-1, .rating-2, .rating-3{
    background-color: var(--clr-lightMagneta);
    width: 100%; 
    color:var(--clr-darkMagneta);
    font-weight: 600;
   
    border-radius: .5rem;
     gap:0.5rem;
    
     padding: 1rem 0 1rem;
     
}

.boxes{
    background-color: var(--clr-darkMagneta);
    color:var(--clr-White);
    padding:1rem 1rem 1.3rem;  
    border-radius: .6rem;
    transition: .2s ease-in-out;
}
.boxes:hover{
    scale:1.03;
    
}
.boxes:hover .review_content{
    opacity: 1;
}
.reviews{
    margin: 2rem 0;
    gap:1rem;
}
.review_profile{
    display: flex;
    gap:1rem;
    align-items: center;
    padding: 0 0 1rem;
}
.review_content{
    font-size: .9rem;
    font-weight: 400;
    opacity: .8;
    line-height: 1.2rem;
    
}
.profile_pic{
    border-radius: 50%;
}
.bolder{
    font-weight: 600;
}
.lighter{
    font-weight: 400;
    font-size: .8rem;
    opacity: .8;
    color: var(--clr-softPink);
}

@media(min-width:51em){
    body {
		
		background-image: url("bg-pattern-top-desktop.svg"),
			url("bg-pattern-bottom-desktop.svg");
		background-repeat: no-repeat, no-repeat;
		background-position: top left, bottom right;
		background-size: 45%, 75%;
	}
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 8rem auto;
        max-width: 100vw;
        padding: 0 6rem;
        
    }
    .intro{
        grid-column: 1/1;
        padding: 1rem 1rem 1rem 0;
        text-align: left;
        
        width: 80%;
    }
    .intro_content{
        line-height: 1.4rem;
        font-size: 1.1rem;
    }
    .intro span{
        font-size: 4rem;
    }
    .ratings{
        grid-column: 2/3;
    }
    .rating-1, .rating-2, .rating-3{
        flex-direction: row;
       border-radius: .5rem;
        gap:1rem;
        width:70%;
        padding: 1rem 0 1rem;
    
    }
    .rating-1{
        align-self: flex-start;
        margin-left: 2rem;
        padding-right: 1rem;
    }
    .rating-3{
        align-self: flex-end;
        margin-right: 2rem;
        padding-right: 1rem;
    }
    .reviews{
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
   
    .review-2{
        margin-top: 2.15rem;
    }
    .review-3{
        margin-top: 4.2rem;
    }
}
@media only screen and (min-device-width: 51em) and (max-device-width: 70em){
    body{
        font-size: 13px;
    }
    .rating-1, .rating-2, .rating-3{
        flex-direction: row;
       border-radius: .5rem;
        gap:0.5rem;
        width:80%;
        padding: 1rem 0 1rem;
        font-size: .7rem;
    }
    .stars{
        font-size: .8rem;
    }
    .rating-1{
        align-self: flex-start;
        margin-left: 2.5rem;
        padding-right: 1rem;
        translate: -2rem;
    }
    .rating-3{
        align-self: flex-end;
        margin-left: 2.5rem;
        padding-right: 1rem;
        translate: 2rem;
    }
}